.admin-professor-first-name-lab2 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 91.5px;
  font-size: 14px;
}
.admin-professor-first-name-tit1 {
  border: 0.1px solid var(--color-dimgray-100);
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: 14px;
  background-color: var(--color-gray-400);
  flex: 1;
  border-radius: var(--br-6xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xs);
  max-width: 312px;
  height: 30px;
}
.admin-professor-first-name-lay1 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
  max-width: 456.8999938964844px;
}
.admin-professor-first-name-con1 {
  border-top: 0.1px solid var(--color-dimgray-100);
}
.admin-professor-first-name-con1,
.admin-professor-last-name-cont1 {
  width: 100%;
  background-color: var(--color-gray-300);
  border-bottom: 0.1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) 0;
  max-width: 456.8999938964844px;
  height: 70px;
}
.admin-add-professor-save-button {
  cursor: pointer;
  border: 0.1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-midnightblue);
  position: relative;
  border-radius: 6px;
  box-shadow: 0 4px 7.4px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  width: 100px;
  height: 33px;
  overflow: hidden;
  flex-shrink: 0;
  color: white;
  font-family: var(--font-inter);
  font-size: 11px;
  font-weight: 600;
}
.admin-professor-save-button-ti1 {
  position: absolute;
  width: 81.4%;
  top: calc(50% - 9.4px);
  left: 9%;
  font-size: 11px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-gray-300);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
}
.admin-professor-save-button-co1 {
  width: 100%;
  background-color: var(--color-gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-sizing: border-box;
  max-width: 456.8999938964844px;
  max-height: 264px;
  gap: 10px;
}
.admin-add-professor-cancel-button-ti1 {
  position: absolute;
  width: 81.4%;
  top: calc(50% - 9.4px);
  left: 9%;
  font-size: 11px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-gray-300);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
}
.admin-add-professor-cancel-button {
  cursor: pointer;
  border: 0.1px solid var(--color-black);
  padding: 0;
  background-color: var(--color-gray-300);
  position: relative;
  border-radius: 6px;
  box-shadow: 0 4px 7.4px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  width: 100px;
  height: 33px;
  overflow: hidden;
  flex-shrink: 0;
  color: black;
  font-family: var(--font-inter);
  font-size: 11px;
  font-weight: 600;
}
.admin-professor-details-contai1 {
  width: 100%;
  flex: 1;
  border: 0.1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  max-width: 456.8999938964844px;
  gap: 12px;
}
.admin-add-professor-modal,
.admin-professor-details-contai1,
.admin-professor-details-layout1 {
  background-color: #fbfbfb;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin-professor-details-layout1 {
  width: 546px;
  height: 300px;
  flex-shrink: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.admin-add-professor-modal {
  position: absolute;
  top: calc(50% - 137px);
  left: calc(50% - 283px);
  padding: var(--padding-3xs);
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
  z-index: 10000;
  background-color: #fbfbfb;
  
}
.admin-add-professor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  z-index: 100000;
  position: absolute;
  background-color: rgba(0,0,0,.20);
}

:root {
  --font-inter: Inter;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-3xs: 10px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-2xs: 11px;
  --font-size-smi: 13px;
  --font-size-xs: 12px;
  --font-size-3xl: 22px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-midnightblue: #10135a;
  --color-gray-400: #fdfdfd;
  --color-gray-300: #fbfbfb;
  --color-gray-100: rgba(255, 255, 255, 0.5);
  --color-gray-200: rgba(255, 255, 255, 0);
  --color-dimgray-100: #737373;
  --color-dimgray-200: #6f6f6f;
  --color-darkslategray: #424242;
  --color-gainsboro-100: #e0e0e0;
  --color-gainsboro-200: #d9d9d9;

  /* Gaps */
  --gap-0: 0px;
  --gap-5xl: 24px;
  --gap-6xl: 25px;
  --gap-mini: 15px;
  --gap-3xs: 10px;
  --gap-2xs: 11px;
  --gap-11xl: 30px;
  --gap-4xs: 9px;
  --gap-smi: 13px;
  --gap-41xl: 60px;

  /* Paddings */
  --padding-8xs: 5px;
  --padding-xs: 12px;
  --padding-28xl: 47px;
  --padding-48xl: 67px;
  --padding-3xl: 22px;
  --padding-4xl: 23px;
  --padding-2xl: 21px;
  --padding-43xl: 62px;
  --padding-27xl: 46px;
  --padding-4xs: 9px;
  --padding-8xl: 27px;
  --padding-3xs: 10px;
  --padding-smi: 13px;

  /* Border radiuses */
  --br-26xl: 45px;
  --br-9xl: 28px;
  --br-11xs: 2px;
  --br-7xs: 6px;
  --br-6xs: 7px;
  --br-31xl: 50px;
  --br-lg: 18px;
  --br-xs: 12px;
  --br-201xl: 220px;
}