.admin-create-form-question-nu {
  position: absolute;
  margin: 0 !important;
  top: 25px;
  left: 54px;
  font-weight: 600;
  z-index: 0;
}
.admin-create-form-question-num {
  background-color: var(--color-white);
  border-right: 0.1px solid var(--color-dimgray-100);
  border-bottom: 0.1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 118px;
  height: 66px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.admin-create-form-question-tex {
  padding-left: 10px;
  border: 0;
  font-weight: 600;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  background-color: var(--color-white);
  flex: 1;
  border-right: 0.1px solid var(--color-dimgray-100);
  border-bottom: 0.1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  height: 66px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  outline-color: #7c7c7c;
}
.admin-body-evaluation-form-tab-icon1 {
  position: relative;
  width: 137px;
  height: 66px;
  overflow: hidden;
  flex-shrink: 0;
  border-bottom: 0.1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  cursor: pointer;
}
.admin-create-form-question-com {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
