<<<<<<< HEAD
.dropdown-arrow {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 12px;
    height: 14px;
    background-image: url(../img/dropdown_arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .course-dropdown,
  .courses-container {
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .course-dropdown {
    border-radius: var(--br-9xl);
    background-color: var(--color-white);
    width: 137px;
    height: 23px;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3px 12px 5px 47px;
    box-sizing: border-box;
    gap: var(--gap-5xl);
  }
  .courses-container {
    position: absolute;
    top: 263px;
    left: 47px;
    width: 138px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }
  .professor-details-inner-contai-icon {
    position: relative;
    background-image: url(../img/faith_logo.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    z-index: -1;
  }
  .professor-details-middle-conta {
    width: 100%;  
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .professor-details-outer-contai {
    position: absolute;
    top: 0;
    left: 0;
    width: 232px;
    height: 244px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .professor-name-container,
  .professor-name1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .professor-name1 {
    align-self: stretch;
    flex: 1;
    position: relative;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
  }
  .professor-name-container {
    position: absolute;
    bottom: 78px;
    left: calc(50% - 68px);
    width: 137px;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .professor-card-component {
    background-image: linear-gradient(
        172.52deg,
        rgba(16, 19, 90, 0) 40%,
        rgba(16, 19, 90, .90) 70%,
        #10135a
      );
    position: relative;
    border-radius: var(--br-26xl);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 232px;
    height: 322px;
    overflow: hidden;
    flex-shrink: 0;
=======
.dropdown-arrow {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    width: 12px;
    height: 14px;
    background-image: url(../img/dropdown_arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .course-dropdown,
  .courses-container {
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .course-dropdown {
    border-radius: var(--br-9xl);
    background-color: var(--color-white);
    width: 137px;
    height: 23px;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--padding-8xs) var(--padding-xs) var(--padding-8xs)
      var(--padding-28xl);
    box-sizing: border-box;
    gap: var(--gap-5xl);
  }
  .courses-container {
    position: absolute;
    top: 263px;
    left: 47px;
    width: 138px;
    flex-direction: column;
    justify-content: center;
  }
  .professor-details-inner-contai-icon {
    position: relative;
    background-image: url(../img/faith_logo.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    z-index: -1;
  }
  .professor-details-middle-conta {
    width: 232px;
    height: 243px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .professor-details-outer-contai {
    position: absolute;
    top: 0;
    left: 0;
    width: 232px;
    height: 244px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .professor-name-container,
  .professor-name1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .professor-name1 {
    align-self: stretch;
    flex: 1;
    position: relative;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
  }
  .professor-name-container {
    position: absolute;
    bottom: 78px;
    left: calc(50% - 68px);
    width: 137px;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .professor-card-component {
    background-image: linear-gradient(
        172.52deg,
        rgba(16, 19, 90, 0) 30%,
        rgba(16, 19, 90, 0.07) 45%,
        #10135a
      );
    position: relative;
    border-radius: var(--br-26xl);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 232px;
    height: 322px;
    overflow: hidden;
    flex-shrink: 0;
>>>>>>> 8a25c24a465c946ccc3eb2912e5b019c09cc4c86
  }